/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

body {
  padding:0px;
  margin:0px;
  background-color:#0080c0;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  color:#000000;
}

#kopf {
  height:100px;
  margin:10px;
  background-color:#ffff00;
}

#content {
  width:auto;
  min-width:120px;
  padding:5px;
  margin:0px 180px;
  background-color:#ffffc6;
}

#links {
  position:absolute;
  top:142px;
  left:20px;
  width:160px;
  height:300px;
  text-align:center;
  background-color:#ffcc00;
}

p {
  font-size:0.8em;
  padding:10px 15px;
}

pre {
  font-size:12px;
  padding:10px 15px;
}

#back {
  padding:15px;
  text-align:center;
}

#back a {
  color:white;
  font-size:0.8em;
  font-weight:600;
}

.rot {
  color:red;
  font-size:1.3em;
  font-weight:bold;
}